<md-tabs md-dynamic-height layout="column" layout-fill md-border-bottom md-selected="selectedIndex">
	<md-tab label="Discussions">
		<md-tab-body layout="row">
			<h2 style="text-align: center">What do you gotta say 'bout dat?</h2>

			<div layout-gt-sm="row" layout="column" layout-align="center center" layout-margin>
				<div flex ng-repeat="post in Tabs.posts">
					<posts layout-fill post-title="{{ post.title }}" post-author="{{ post.author }}" post-body="{{ post.body }}"></posts>
					<posts layout-fill post-title="{{ post.title }}" post-author="{{ post.author }}" post-body="{{ post.body }}"></posts>
					<posts layout-fill post-title="{{ post.title }}" post-author="{{ post.author }}" post-body="{{ post.body }}"></posts>
				</div>
			</div>

			<md-button class="md-fab md-primary" style="position: absolute; top:10px; right: 10px;" aria-label="Add post" ng-click="Tabs.showNewFormDialogue($event)">
				<md-icon class="fa fa-plus fa-2x " aria-hidden="true"></md-icon>
			</md-button>
		</md-tab-body>
	</md-tab>
	<md-tab label="House Stuff">
		<md-tab-body layout="column">
			<h2 style="text-align: center">What do you gotta say 'bout dat?</h2>
	
			<div layout-gt-sm="row" layout="column" layout-align="center center" layout-margin>
				<div flex ng-repeat="post in Tabs.posts">
					<posts layout-fill post-title="{{ post.title }}" post-author="{{ post.author }}" post-body="{{ post.body }}"></posts>
				</div>
			</div>
			
			<md-button class="md-fab md-primary md-fab-raised" style="position: absolute; top:10px; right: 10px;" aria-label="Add post">
				<md-icon class="fa fa-plus fa-2x " aria-hidden="true"></md-icon>
			</md-button>
		</md-tab-body>
	</md-tab>
	<md-tab label="Random">
		<md-tab-body layout="column">
			<h2 style="text-align: center">What do you gotta say 'bout dat?</h2>
			
			<div layout-gt-sm="row" layout="column" layout-align="center center" layout-margin>
				<div flex ng-repeat="post in Tabs.posts">
					<posts layout-fill post-title="{{ post.title }}" post-author="{{ post.author }}" post-body="{{ post.body }}"></posts>
				</div>
			</div>

			<md-button class="md-fab md-primary md-fab-raised" style="position: absolute; top:10px; right: 10px;" aria-label="Add post">
				<md-icon class="fa fa-plus fa-2x " aria-hidden="true"></md-icon>
			</md-button>
		</md-tab-body> 
	</md-tab>
</md-tabs>
