<!-- <h1>User Detail page</h1> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div layout="row" layout-sm="column" layout-xs="column" class="userDetailCard">
  <div flex style="position: relative">
    <md-button ng-click="User.goBack('peeps.allUsers')" class="md-fab md-mini" aria-label="back" style='position: absolute; border-radius: 100%; background: transparent; box-shadow: none'>
      <md-icon md-svg-src="left-arrow-white"></md-icon>
    </md-button>
    <div flex style="text-alignment: start">
      <img class="profileImg" ng-src="{{ User.userInfo.image }}" />
    </div>
    <span class="cardTitleDetail">{{ User.userInfo.name }}</span>
  </div>
  <div flex>
    <div flex layout="column" layout-wrap style="margin-top: 2em">
        <!-- <md-content>
          <md-list flex layout="row">
            <md-list-item ng-repeat="(key, app) in User.userInfo.linked_apps" class="userDetailCardSocial">
              <a target="_blank" href="{{ app.url }}">
                <md-icon md-svg-icon="{{ key }}"></md-icon>
                <span class="md-list-item-text" class="md-offset">{{ app.name }}</span>
              </a>  
            </md-list-item>
          </md-list>
        </md-content> -->
        <md-list  layout="column" layout-align="center start" class="userDetailCardContact">
          <md-list-item>
            <md-icon md-svg-icon="phone"></md-icon>
            <div class="md-list-item-text" class="md-offset">
              <p style="margin: 0px; color: inherit"> Phone </p>
              <h3 style="margin: 0px; color: cadetblue">{{ User.userInfo.contacts.phone_mobile }} </h3>
            </div>
          </md-list-item>
          <md-list-item>
            <md-icon md-svg-icon="house-outline"></md-icon>
            <div class="md-list-item-text" class="md-offset">
              <p style="margin: 0px; color: inherit"> Home </p>
              <h3 style="margin: 0px; color: cadetblue">{{ key }} {{ User.userInfo.contacts.address }} {{ User.userInfo.contacts.city }}, {{ User.userInfo.contacts.state }} </h3>
            </div>
          </md-list-item>
          <md-list-item>
            <md-icon md-svg-icon="email"></md-icon>
            <div class="md-list-item-text" class="md-offset">
              <p style="margin: 0px; color: inherit"> Email </p>
              <h3 style="margin: 0px; color: cadetblue">{{ User.userInfo.contacts.email }}</h3>
            </div>
          </md-list-item>
        </md-list>
    </div>
  </div>
</div>