<!-- <h1>User Detail page</h1> -->

<div layout="row" layout-sm="column" layout-xs="column">
  <div flex style="position: relative">
  	<div flex style="text-alignment: start">
        <img class="profileImg" ng-src="{{ User.userInfo.image }}" />
  		  <span class="cardIcon_more cardTitle">{{ User.userInfo.name }}</span>
    </div>
  </div>
  <div flex>
  	<div flex layout="column" layout-wrap ng-repeat="contact in User">
      <span class="details_list">{{ contact.contacts.address }} {{ contact.contacts.city }}, {{ contact.contacts.state }}</span>
      <span class="details_list">{{ contact.contacts.phone_mobile }}</span>
      <span class="details_list">{{ contact.contacts.email }}</span>
      <div  class="details_list" layout-padding ng-repeat="(key, app) in contact.linked_apps">
        <!-- <span>app: {{app}}</span> -->
        <a href="{{ app.url }}">
          <span layout-padding>
            <md-icon md-svg-icon="{{ key }}"></md-icon>
            {{app.name}}
          </span>
        </a>
      </div>
  	</div>
  </div>
</div>