
<!--<div ng-repeat="(key,contacts) in User.linked_apps">{{ key }} | {{ contacts }}</div>-->
    <!--Testing: {{ user }}-->
<!--{{ userName }}-->
<div flex class="md-whiteframe-8dp">
    <img ng-click="goTo()" ng-src="{{ userImage }}" class="md-card-image" alt="{{userName}}"/>
    <div class="lock-size" layout="row" layout-align="center center">

        <md-fab-speed-dial ng-click="isOpen= !isOpen"  md-open="false" md-direction="{{ isOpen }}" ng-class="md-scale">
         {{ isOpen }}
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <md-icon md-svg-src="contact"></md-icon>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                    <md-icon md-svg-src="twitter" aria-label="Twitter"></md-icon>
                </md-button>
                <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                    <md-icon md-svg-src="facebook" aria-label="Facebook"></md-icon>
                </md-button>
                <md-button aria-label="LinkedIn" class="md-fab md-raised md-mini">
                    <md-icon md-svg-src="linkedin" aria-label="Google Hangout"></md-icon>
                </md-button>
            </md-fab-actions>

        </md-fab-speed-dial>

    </div>
</div>
<div class="cardTitleContainer">
    <span class="md-whiteframe-8dp cardTitle">{{ userName }}</span>
</div>

