<div flex>
    <h1>Recent Posts</h1>
    <hr />
    <div layout-gt-xs="row" layout="column" layout-align="space-around none"layout-padding layout-fill>
        <div ng-repeat="post in Home.posts.recent | limitTo: 3" flex="33"  layout-padding>
            <!-- {{ post }} -->
            <div layout="column" class="md-whiteframe-4dp postBox">
              <h2 flex="grow">{{post.title}}</h2>
              <p style="font-style: italic">"{{post.body | limitTo: 50}}"</p><span ng-show="post.body.length > 50">..."</span>
              <cite style="align-self: flex-end; text-decoration: italic">-- {{ post.author }}</cite>
            </div> 
        </div>
    </div>
</div>