<div flex>
    <h1>Recent Posts</h1>
    <hr />
    <div layout="row" layout-xs="column" layout-align="center start" layout-padding layout-margin>
        <div ng-repeat="post in Home.posts.recent | limitTo: 3" flex="33" class="postBox" layout-padding>
            <!-- {{ post }} -->
            <div layout="column" class="md-whiteframe-4dp">
              <h2 flex="grow">{{post.title}}:</h2>
              <p style="font-style: italic">"{{post.body | limitTo: 50}}"</p><span ng-show="post.body.length > 50">..."</span>
              <cite style="align-self: flex-end; text-decoration: italic">-- {{ post.author }}</cite>
            </div> 
        </div>
    </div>
</div>