<div layout="column" layout-align="center center">
    <div layout="row" layout-xs="column">
        <div flex class="trans_in" ng-repeat="page in Home.cardItems.list">
          <a ui-sref="{{ page.link }}">
              <div flex class="overlay_container">
                  <span class="overlay_title">{{page.title}}</span>
                  <img class="img_affect" ng-src="{{ page.image }}" />
              </div>
          </a>
        </div>
    </div>
    <div flex>
        <h1>Recent Posts</h1>
        <hr />
        <div layout="row" layout-xs="column" layout-align="center start" layout-padding layout-margin>
            <div ng-repeat="post in Home.posts.recent | limitTo: 3" flex="33" class="postBox">
                <!-- {{ post }} -->
                <h2>{{post.title}}:</h2>
                <div style="background: grey; display: flex; flex-direction: column; padding: 1em; box-shadow: 1px 1px 5px 0 black">
                  <p>{{post.body | limitTo: 50}}</p><span ng-show="post.body.length > 50">...</span>
                  <cite style="align-self: flex-end; color: whitesmoke">-- {{ post.author }}</cite>
                </div> 
            </div>
        </div>
    </div>
</div>
