<!-- <div class="padding-inner">

  <div layout="row" layout-wrap layout-align="start center">
    <div flex="33" flex-sm="50" flex-xs="100" class="trans_in" ng-repeat="cardItem in Home.cardItems.list">
      <a ui-sref="{{cardItem.link}}">
        <md-card>
          <img ng-src="{{cardItem.image}}" class="md-card-image" alt="">
          <md-card-title layout="row" layout-align="space-between-center" layout-wrap>
            <md-card-title-text>
              <span class="md-title">{{ cardItem.title }}</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
    </a>
    </div>
  </div>

</div>
 -->

 <div layout="row" layout-xs="column">
    <div flex ng-repeat="page in Home.cardItems.list">
      <a ui-sref="{{ page.link }}">
          <div flex class="overlay_container">
              <span class="overlay_title">{{page.title}}</span>
              <img ng-src="{{ page.image }}" />
          </div>
      </a>
    </div>
 </div>