<div layout="column">
    <div layout="column" layout-gt-sm="row" layout-align="center none">
        <div class="trans_in" ng-repeat="page in Home.cardItems.list" style="width: auto">
          <a ui-sref="{{ page.link }}">
              <div class="overlay_container">
                  <span class="overlay_title">{{page.title}}</span>
                  <img class="img_affect" ng-src="{{ page.image }}" />
              </div>
          </a>
        </div>
    </div>
    <recent-posts></recent-posts>
</div>
